@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');

/*default elements*/
*
{
    box-sizing: border-box;
    
}

footer
{
    
    bottom: 0;
    height: 60px;
    vertical-align: bottom;
    margin: 10px;
}

.ContentWrap
{
    min-height: 100vh;
}

body
{
    margin: 0 0 0 0;
    color: #2b140f;
    font-size: 16px;
    line-height: 1.5;
     font-family: 'Cormorant Garamond', serif;
    background-color: #d5d0c6;
    
}
ul
{
    list-style: none;
}

img
{
    max-width: 50%;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

p
{
    font-size: large;
    
    line-height: 1.3;
}

h1, h2
{
    line-height: 1;
    font-size: xx-large;
  font-family: 'Lobster', cursive;
    margin-bottom: 15px;
    
}

hr
{
    border-style: unset;
    height: 5px;
    background-color: #2b140f;
    color: #2b140f;
    
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
}

/*Custom elements*/
.Container
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 30px;
}

/*Navbar*/
.NavBar
{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #d6b173;
}

.NavBar .Container
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.NavBar .Logo
{
    line-height: 1;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    margin: 10px 0;
}

.NavBar ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.NavBar a
{
    color: #2b140f;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

/*Header*/

.Header
{
    max-width: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    background-color: #c09a80;
    color: #2b140f;
}

.Header .Container
{
    display: flex;
    align-items: center;
    max-width: 1100px;
}

.Header img
{
    border-radius: 20px;
    margin: 2rem;
    max-width: 50%;
}


.header h1
{
    
}

/*Boxes*/

.Boxes
{
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.Boxes .Container
{
    padding: 10px;
}

.Box
{
    max-width: 500px;
    flex: 1;
    background-color: #c09a80;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
    padding: 30px;
    
    
    
}

@media (max-width: 600px)
{
    .Header .Container
    {
        flex-direction: column;
        
    }
    .Header img
    {
        max-width: 100%;
    }
    .NavBar ul
    {
        color: #44888f;
        padding: 0;
    }
    .NavBar a
    {
        font-size: medium;
    }
}

